body{
    background-color: #7cac4c;
    background-image: url(../img/bgcamuflado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color:#7cac4c;
    height:70.3px;
}

nav img {
    float: left;
    margin-top: 0.5%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-top: 8%;
}

nav ul li a {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    margin-left: 5%;
    padding:20px;
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: rgb(113, 151, 43);
    height: 67.5px;
}

nav ul li a img{
    color: #7cac4c;
    margin-right: 5px;
}

nav ul li:last-child a {
    float: right;
}

section {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 0.5%;
    margin-left: 1%;
    border-radius: 5%;
    width: 48%;
    max-height: 90%;
}

section p {
    margin-left: 7.5%;
    margin-right: 5%;
    max-height: 90%;
}

article {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 0.5%;
    margin-left: 51%;
    margin-right: 1%;
    border-radius: 5%;
    width: 48%;
    max-height: 90%;
}

article p{
    margin-left: 7.5%;
    margin-right: 5%;
    max-height: 90%;
}